/* Applies to everything */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05); /* track (background) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); /* handle */
  border-radius: 10px;
  border: 2px solid transparent; /* makes it look inset */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); /* on hover */
}